
@import url(https://fonts.google.com/specimen/Comic+Neue);
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    
  }

header{
    background-image: linear-gradient(to right, #ff009f, #ff0087, #ff006e, #ff0056, #fe003e, #fe2730, #fc3c1f, #f84d05, #fb6a00, #fd8300, #fd9a00, #fdb000);
    
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    
}

header h1{
    display: flex;
    justify-content: center;
}
nav{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;   
    margin: 10px;
    background-color: chartreuse;
    
}
a {
    height: auto;
    width: auto;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: gold;
    color: crimson;
    font-weight: bold;        
    
}

div{
    border: 1px solid;  
    border-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
h3{
    margin: 0;
}






